
#formWrapper{
    height: 1440px;
    box-sizing: border-box;
    padding: 4%;
    margin-left: 2%;
}
#form{

}
#form input{
    border-style: solid;
    border-color: black;
    border-width: 0.1px;
    padding: 4px;
    width: 100%;
}
#submitField{
    width: 440px;
    height: 100px;
}
#sel{
    width: 100%;
}
#dropvalue{
    width: 100%;
    border-style: solid;
    border-width: 0.1px;
    border-color: black;
    padding: 4px;
    padding-left: 40%;
    padding-right: 36%;
}
#dropvalue1{
    border-style: solid;
    border-width: 0.1px;
    border-color: black;
    padding: 4px;
    padding-left: 44%;
    padding-right: 40%;
}
#selC{
    height: 140px;
    width: 440px;
    position: absolute;
    z-index: 10;
    background-color: white;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    overflow-y: hidden;
    overflow: scroll;
    box-sizing: border-box;
    padding: .1%;
    visibility: hidden;
}
#submitField:hover #selC{
    visibility: visible;
}
#selC p:hover{
    background-color: black;
    color: white;
}
#createLis{
    margin-left: 6%;
    border-style: solid;
    border-width: 0.1px;
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 6px;
    padding-left: 13%;
    padding-right: 13%;
}
#createLis:hover{
    background-color: white;
    color: black;
    border-color: black;
}
#load1{
    position: absolute;
    left: 40%;
    bottom: -100%;
}