
.App {
  height: 100vh;
}
.light{
  height: 100%;
  background-color: white;
  color: black;
  transition: .6s ease-in;
}
.dark{
  height: 100%;
  background-color: black;
  color: white;
  transition: .6s ease-in;
}
#darkModeBtn{
  height: 80px;
  width: 120px;
  border-radius: 20px;
  background-color: black;
  cursor: pointer;
}

